# Common dir
wd/
tarballs/

# Common prebuild artifacts
bin/
doc/
include/
lib/
lib64/
libexec/
share/

# Ninja artifact
ninja

# Clang artifact
clang-r399163b/

# Special treats for x86_64-linux-glibc2.17-4.8
emu-30/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8/*
!emu-30/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8/Makefile
