# Common dir
wd/
tarballs/

# Common prebuild artifacts
bin/
doc/
etc/
include/
lib/
lib64/
libexec/
sbin/
share/

# Ninja artifact
ninja

# Clang artifact
clang-r399163b/

# x86_64-linux-glibc2.17-4.8 artifact
emu-30/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8/*
!emu-30/prebuilts/gcc/linux-x86/host/x86_64-linux-glibc2.17-4.8/Makefile

# Qt artifact
emu-30/prebuilts/android-emulator-build/qt/linux-x86_64/*
!emu-30/prebuilts/android-emulator-build/qt/linux-x86_64/Makefile
